@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}


@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes animation-scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animation-rotate {
  0% {
    opacity: 0;
    transform: translateX(50%) scale(0) rotateZ(-60deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1) rotateZ(0deg);
  }
}
@keyframes animation-flip {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
            transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
            transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}


// scheduler animation
$month-view-animation-delay: 0.03s;
$month-view-animation-timeout: 0.3s;
$month-view-animation-size: 42;

%scheduler-animation-scale {
  animation: $month-view-animation-timeout ease-in-out both animation-scale;
  -webkit-animation: $month-view-animation-timeout ease-in-out both animation-scale;
}
%scheduler-animation-flip {
  animation: $month-view-animation-timeout cubic-bezier(0.25, 0.25, 0.25, 1.15) both animation-flip;
  -webkit-animation: $month-view-animation-timeout cubic-bezier(0.25, 0.25, 0.25, 1.15) both animation-flip;
}
%scheduler-animation-rotate {
  animation: $month-view-animation-timeout cubic-bezier(0.25, 0.25, 0.25, 1.25) both animation-rotate;
  -webkit-animation: $month-view-animation-timeout cubic-bezier(0.25, 0.25, 0.25, 1.25) both animation-rotate;
}
%scheduler-swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
%scheduler-slit-in-vertical {
	-webkit-animation: slit-in-vertical 0.3s ease-out both;
	        animation: slit-in-vertical 0.3s ease-out both;
}
%scheduler-rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
%scheduler-slide-in-fwd-left {
	-webkit-animation: slide-in-fwd-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
%scheduler-slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
%scheduler-flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
%scheduler-flip-in-ver-left {
	-webkit-animation: flip-in-ver-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.ax-scheduler.animation1 {
  .ax-scheduler__week-view__header > div > div {
    @extend %scheduler-animation-scale;
  }
  .ax-scheduler__month-view__day {
    @extend %scheduler-animation-flip;
  }
  .ax-scheduler__day-view__body {
    @extend %scheduler-animation-flip;
  }
  .ax-scheduler__day-view__header .header_number {
    @extend %scheduler-animation-flip;
  }
  .ax-scheduler__year-view > div {
    @extend %scheduler-animation-flip;
  }
}
.ax-scheduler.animation2 {
  .ax-scheduler__week-view__header > div > div {
    @extend %scheduler-swing-in-top-fwd;
  }
  .ax-scheduler__month-view__day {
    @extend %scheduler-swing-in-top-fwd;
  }
  .ax-scheduler__day-view__body {
    @extend %scheduler-slit-in-vertical;
  }
  .ax-scheduler__day-view__header .header_number {
    @extend %scheduler-animation-flip;
  }
  .ax-scheduler__year-view > div {
    @extend %scheduler-swing-in-top-fwd;
  }
}
.ax-scheduler.animation3 {
  .ax-scheduler__week-view__header > div > div {
    @extend %scheduler-slide-in-fwd-center;
  }
  .ax-scheduler__month-view__day {
    @extend %scheduler-rotate-in-2-cw;
  }
  .ax-scheduler__day-view__body {
    @extend %scheduler-slide-in-fwd-left;
  }
  .ax-scheduler__day-view__header .header_number {
    @extend %scheduler-animation-flip;
  }
  .ax-scheduler__year-view > div {
    @extend %scheduler-rotate-in-2-cw;
  }
}
.ax-scheduler.animation4 {
  .ax-scheduler__week-view__header > div > div {
    @extend %scheduler-slide-in-fwd-center;
  }
  .ax-scheduler__month-view__day {
    @extend %scheduler-flip-in-ver-right;
  }
  .ax-scheduler__day-view__body {
    @extend %scheduler-slide-in-fwd-left;
  }
  .ax-scheduler__day-view__header .header_number {
    @extend %scheduler-animation-flip;
  }
  .ax-scheduler__year-view > div {
    @extend %scheduler-flip-in-ver-right;
  }
}

@for $i from 1 through $month-view-animation-size {
  .ax-scheduler__month-view__day {
    &:nth-child(#{$i}) {
      animation-delay: $i * ($month-view-animation-delay);
    }
  }
}
@for $i from 1 through 12 {
  .ax-scheduler__year-view > div {
    &:nth-child(#{$i}) {
      animation-delay: $i * ($month-view-animation-delay);
    }
  }
}
@for $i from 1 through 7 {
  .ax-scheduler__week-view__header > div > div,
  .ax-scheduler__day-view__body {
    &:nth-child(#{$i}) {
      animation-delay: $i * ($month-view-animation-delay);
    }
  }
}
