
<div class="container-fluid pl-5 pt-3">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="disabled">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/themes" routerLinkActive="disabled">Themes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="disabled">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>
</div>

<div class="container-fluid pt-3">

    <router-outlet></router-outlet>
  
</div>
