
$main-font-color : #444;
$border-color: #ddd;
$viewer-header-h: 60px;
$header-h: 60px;
$row-header-w: 50px;
$header-bg: #fff;
$row-header-label-bg: #3f51b5;
$event-height: 25px;
$event-bg: #2196f3;
$today-bg-color: #e53935;
$today-color: #fff;
$event-dialog-bg: #fff;


//dayview
$event-tile-bg:#F5F5F5;
$event-tile-border-color:#fff;
$dayview-day-title-color:$main-font-color;
$dayview-day-title-description-color:#666;