$event-border-left-color : #FF5722;
$event-border-color : #eee;

.ax-scheduler__event {
  text-align: left;
  overflow: visible;
  >.ax-scheduler__event__content{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
    color: #eee;
    font-size: 13px;
    font-weight:normal;
    margin: 0 10px;
    padding: 5px 10px;
    overflow: hidden;
  }
  >p {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: 50px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 11px;
    position: absolute;
    >span{
      position: absolute;
      background: #333;
      color: #fff;
      padding: 0 5px;
      left: -40px;
      border-radius: 100px;
      z-index: 200;
      &:after{
        content: '';
        height: 2px;
        background:inherit;
        left: 100%;
        right: auto;
        top: 50%;
        position: absolute;
        z-index: 1;
        width: 5px;
      }
    }
    >span:first-child{
      top: 0;
    }
    >span:last-child{
      bottom: 0;
    }
  }
}
