<div class="row">
    <div class="col-md-6">
        <ng-template #t let-item="item">
            <div class="event-template">
                {{ item.data.title }} at <b> {{ item.from | date:'HH:mm' }} {{ item.to | date:'HH:mm' }}
                </b>
            </div>
        </ng-template>
        <ax-scheduler #sch1 [axEventTemplate]="t" [axShowLocale]="false" [axAnimation]="'default'" [axSchedulerView]="'week'" [axTheme]="'light'"
            [axEvents]="events" [axDragStep]="5" (axEventEditClick)="editEvent($event)"
            (axEventDeleteClick)="removeEvent($event)"></ax-scheduler>
    </div>
    <div class="col-md-6">
        <ng-template #t2 let-item="item">
            <div class="event-template">
                {{ item.data.title }} at <b> {{ item.from | date:'HH:mm' }} {{ item.to | date:'HH:mm' }}
                </b>
            </div>
        </ng-template>
        <ax-scheduler #sch2 [axEventTemplate]="t2" [axShowLocale]="false" [axAnimation]="'default'" [axTheme]="'dark'" [axSchedulerView]="'week'"
            [axTheme]="'light'" [axEvents]="events" [axDragStep]="5" (axEventEditClick)="editEvent($event)"
            (axEventDeleteClick)="removeEvent($event)"></ax-scheduler>
    </div>
</div>


<a (click)="editEvent()" class="float-button">
    <i class="fa fa-plus my-float"></i>
  </a>