<div class="row">
    <div class="col-md-8">
        <ng-template #t let-item="item">
            <div class="event-template">
                {{ item.data.title }} at <b> {{ item.from | date:'HH:mm' }} {{ item.to | date:'HH:mm' }} </b>
            </div>
        </ng-template>
        <ax-scheduler [axEventTemplate]="t" [axShowLocale]="true" [axAnimation]="'default'" [axSchedulerView]="'week'"
            [axTheme]="'dark'" [axEvents]="events" [axDragStep]="step" (axEventClick)="eventClick($event)"
            (axEventChange)="changeEvent($event)" (axViewChange)="viewChange($event)"
            (axDateChange)="dateChange($event)" (axEventEditClick)="editClick($event)" (axEventDeleteClick)="deleteClick($event)"></ax-scheduler>
    </div>
    <div class="col-md-4" style="height: 90vh;overflow: auto;">
        <h5 class="border-bottom pb-2">Events</h5>
        <div class="row pt-3">
            <div class="col-md-12">
                <h6>Event Click</h6>
                <p>Use <mark>(axEventClick)</mark> output parameter.</p>
                <!-- <pre class="code" *ngIf="clickEvent">{{ clickEvent | json }}</pre> -->
                <div class="alert alert-info"> Click an event ... </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <h6>Event Change</h6>
                <p>Fire when event resized or dragged to new dates, Use <mark>(axEventChange)</mark> output parameter.
                </p>
                <!-- <pre class="code" *ngIf="changedEvent">{{ changedEvent | json }}</pre> -->
                <div class="alert alert-info"> Drag on resize an event ... </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <h6>Date Change</h6>
                <p>Fire when scheduler date change by [forward-backword] navigator. Use <mark>(axDateChange)</mark>
                    output parameter.</p>
                <!-- <pre class="code" *ngIf="changedDate">{{ changedDate | json }} {{ changedDate | date:'medium' }}</pre> -->
                <div class="alert alert-info"> Change date by navigator ... </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <h6>View Change</h6>
                <p>Fire when scheduler view change. Use <mark>(axViewChange)</mark> output parameter.</p>
                <!-- <pre class="code" *ngIf="view">{{ view | json }}</pre> -->
                <div class="alert alert-info"> Change scheduler view ... </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <h6>Delete event</h6>
                <p>Fire when event remove button clicked. Use <mark>(axEventDeleteClick)</mark> output parameter.</p>
                <!-- <pre class="code" *ngIf="deleteClicked">{{ deleteClicked | json }}</pre> -->
                <div class="alert alert-info"> Click on event toolbar remove button ... </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <h6>Edit event</h6>
                <p>Fire when event edit button clicked. Use <mark>(axEventEditClick)</mark> output parameter.</p>
                <!-- <pre class="code" *ngIf="editClicked">{{ editClicked | json }}</pre> -->
                <div class="alert alert-info"> Click on event toolbar remove button ... </div>
            </div>
        </div>
    </div>
</div>