<div class="row">
    <div class="col-md-8">
        <ng-template #t let-item="item">
            <div class="event-template">
                {{ item.data.title }} at <b> {{ item.from | date:'HH:mm' }} {{ item.to | date:'HH:mm' }} </b>
            </div>
        </ng-template>
      <ax-scheduler [axEventTemplate]="t" [axShowLocale]="false" [axSchedulerView]="'week'" [axTheme]="'light'" [axEvents]="events"
          [axDragStep]="5"></ax-scheduler>
    </div>
    <div class="col-md-4">

    </div>
  </div>