<div class="ax-scheduler__day-view__header">
  <div>

  </div>
  <div>
    <div>
      <span class="header_number">
        {{ date.format('D') }}
        <span class="header_day_title">
          <p>th</p>
          <p>{{ date.format('dddd') }}</p>
        </span>
      </span>
      <span class="header_month_year">
        {{ date.format('MMMM') }} {{ date.format('YYYY')}}
      </span>
    </div>
  </div>
</div>
<div ax-scheduler-day-column
[axEvents]="axEvents" 
[axEventTemplate] = "axEventTemplate"
[axEventFormatter] = "axEventFormatter"
[axDragStep]="axDragStep"
[axStartDate]="axStartDate">

    

</div>
