<div class="ax-scheduler__day-view__header">
  <div>

  </div>
  <div>
    <div>
      <span class="header_number">
        {{ date.format('D') }}
        <span class="header_day_title">
          <p>th</p>
          <p>{{ date.format('dddd') }}</p>
        </span>
      </span>
      <span class="header_month_year">
        {{ date.format('MMMM') }} {{ date.format('YYYY')}}
      </span>
    </div>
  </div>
</div>
<div class="ax-scheduler__day-view__body" #b>

<div class="ax-scheduler__event-tile" *ngFor="let event of dayEvents" 
ngDraggable 
(movingOffset)="ev.fromTimeChanging($event)" 
(endOffset)="ev.fromTimeChanged($event)" 
(edge)="checkEdge($event)"
[gridSize]="axDragStep" [bounds]="b"
[inBounds]="true"
[zIndexMoving]="'1000'"
[lockAxis]="'x'"

ngResizable 
[rzHandles]="'s,n'"

(rzResizing)="ev.toTimeChanging($event)"
(rzStop)="ev.toTimeChanged($event)"
(rzStart)="ev.toTimeChangeStart($event)"
[rzGrid]="axDragStep" >

        <div class="ax-scheduler__event-tile__box" #ev 
        [event]="event"
        ax-scheduler-event></div>
        
  </div>

  <div *ngFor="let hour of hours;let index = index">
    <div>
      <span *ngIf="index > 0">
        {{ hour.start.format('HH:mm') }}
      </span>
    </div>
    <div ax-scheduler-hour [hour]="hour" [axEventTemplate]="axEventTemplate" [axEventFormatter]="axEventFormatter"
      [axEvents]="axEvents">

    </div>
  </div>
</div>
