/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-default.css";
@import "~angular-notifier/styles/types/type-info.css";

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

pre.code {
  font-size: 13px !important;
  border: 1px solid #333;
  padding: 6px 10px;
  border-radius: 10px;
  background: #444;
  color: #eee;
}

.alert{
  font-size: 13px;
  padding: 5px 8px;
}

.event-template{
  position: relative;
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  display: block;
  padding: 0 5px;
  margin: 0;
  text-align: left;
  color: #fff;
  border-left: 2px solid #fff;
  b{
    display: block;
    background: #eee;
    color: #333;
    border: 1px solid #111;
    border-radius: 10px;
    font-family: consolas;
    margin: 5px 0;
    padding: 0 5px;
    font-size: 11px;
    text-align: center;
  }
}

.github-me {
  position: absolute;
  left: auto;
  right: 0;
  z-index: 1000;
}
