<svg *ngIf="dayEvents && dayEvents.length > 0" title="Click to show events" class="ax-scheduler__month-view__day_list"
    (click)="showEventsDialog()" height="24px" version="1.1" viewBox="0 0 24 24" width="24px"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g fill="none" fill-rule="evenodd" id="icon/hamburger-menu" stroke="none" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1">
        <path d="M2.5,16.5 L20.5,16.5 M2.5,11.5 L20.5,11.5 M2.5,6.5 L20.5,6.5" id="lineart" stroke="#000000" />
    </g>
</svg>


<span class="ax-scheduler__month-view__day__number" [ngClass]="{ 'today' : day.isSame(today,'days') , 'in-month' : inMonth }">
    {{ day.format('DD') }}
</span>
<div class="ax-scheduler__month-view__day__label" *ngIf="index < 7">
    {{ day.format('ddd') }}
</div>


<div class="ax-scheduler__month-view__day__events">
    <div class="ax-scheduler__month-view__day__events_container">
        <ng-container *ngFor="let event of dayEvents;let index=index">
            <div *ngIf="index < 2" [event]="event" [monthMode]="true" [axEventTemplate]="axEventTemplate"
                ax-scheduler-event></div>

        </ng-container>
    </div>
    <div class="more-item" *ngIf="dayEvents.length > 2" (click)="showEventsDialog()">
        {{ dayEvents.length - 2 }} More ...
    </div>

</div>
