
<span class="ax-scheduler__month-view__day__number" title="Click to show events" [ngClass]="{ 'today' : day.isSame(today,'days') }"  (click)="showEventsDialog()">
    {{ day.format('DD') }}
</span>
<div class="ax-scheduler__month-view__day__label" *ngIf="index < 7">
    {{ day.format('ddd') }}   
</div>


<div class="ax-scheduler__month-view__day__events">
  <div class="ax-scheduler__month-view__day__events_container">
    <ng-container *ngFor="let event of dayEvents;let index=index">
        <div  *ngIf="index < 2"
        [event]="event"
        [monthMode]="true"
        [axEventTemplate] = "axEventTemplate"
        ax-scheduler-event></div>
        
    </ng-container> 
  </div>
  <div class="more-item" *ngIf="dayEvents.length > 2" (click)="showEventsDialog()">
      {{ dayEvents.length - 2 }} More ...
  </div>
  
</div>

<div class="ax-scheduler__month-view__day__events__dialog" *ngIf="showEvents" [@dialogAnimation]>
    <span class="ax-scheduler__close-button" (click)="closeDialog()">×</span>
    <div class="ax-scheduler__month-view__day__label">
        <span class="ax-scheduler__month-view__day__number" [ngClass]="{ 'today' : day.isSame(today,'days') }">
            {{ day.format('DD') }}
        </span>
        {{ day.format('dddd') }}   
    </div>
    <div class="ax-scheduler__month-view__day__events_container">
        <ng-container *ngFor="let event of dayEvents">
            <div
            [event]="event"
            [monthMode]="true"
            [axEventTemplate] = "axEventTemplate"
            ax-scheduler-event></div>
            
        </ng-container> 
      </div>
</div> 