
{{ day.format('DD') }}

<div class="ax-scheduler__month-view__day__events__dialog" *ngIf="showEvents" [@dialogAnimation]>
    <span class="ax-scheduler__close-button" (click)="closeDialog($event)">×</span>
    <div class="ax-scheduler__month-view__day__label">
        <span class="ax-scheduler__month-view__day__number" [ngClass]="{ 'today' : day.isSame(today,'days') }">
            {{ day.format('DD') }}
        </span>
        {{ day.format('dddd') }}   
    </div>
    <div class="ax-scheduler__month-view__day__events_container">
        <ng-container *ngFor="let event of events">
            <div
            [event]="event"
            [monthMode]="true"
            [axEventTemplate] = "axEventTemplate"
            ax-scheduler-event></div>
            
        </ng-container> 
      </div>
</div> 